USE [TiendaOgaDB]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sp_ObtenerUsuarioPorLogin]
    @login VARCHAR(50) = NULL,
    @usuario VARCHAR(50) = NULL,
    @p_login VARCHAR(50) = NULL,
    @nombre_usuario VARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @filtro VARCHAR(50) = COALESCE(@login, @usuario, @p_login, @nombre_usuario);

    SELECT 
        u.id_usuario,
        u.usuario AS login,
        u.usuario,
        u.password AS password_hash,
        u.password,
        u.nombre,
        u.apellido,
        u.email,
        u.Activo AS estado,
        u.Activo,
        u.id_perfil,
        p.nombre_perfil,
        p.nombre_perfil AS rol
    FROM usuario u
    JOIN perfiles p ON p.id_perfil = u.id_perfil
    WHERE u.usuario = @filtro;
END;
GO